{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="authenticated_user navigate">
    <div class="update">
        <a href="{% url 'update_showcase' %}">
            <p> Hi {{ user }} </p>
        </a>
    </div>

    <div class="goto">
        <a href="{% url 'logout' %}">
            <p>[ Logout ]</p>
        </a>
    </div>
</div>
{% endif %}

<div id="container--main">
    <section id="wrapper--hero" class="section--page">
        {% if user_profile.profile_picture %}
        <img id="profile-pic" src="{{ user_profile.profile_picture.url }}">
        {% else %}
        <img src="" alt="Profile Picture">
        {% endif %}
        <div>
            <h1 id="user-name">Pemba Tamang</h1>
            <p id="bio"> {{ user_profile.bio }}</p>
            <p id="email">✉️ {{ user_profile.email }}</p>
        </div>
    </section>

    <section class="section--page">

        <div id="socials--list">
            <a href="{{ user_profile.instagram_url }}" target="_blank">Instagram</a>
            <a href="{{ user_profile.linkedin_url }}" target="_blank">Linkedin</a>
            <a href="{{ user_profile.github_url }}" target="_blank">Github</a>
            <a href="{{ user_profile.resume_url }}" target="_blank">Download
                Resume</a>
        </div>
    </section>


    <section class="section--page">
        <h2>Tech stack</h2>

        <div id="wrapper--techstack__items">
            <div class="card--techstack"><span>{{ tech_stack.language }}</span></div>
            <div class="card--techstack"><span>{{ tech_stack.framework }}</span></div>
            <div class="card--techstack"><span>{{ tech_stack.database }}</span></div>
        </div>
    </section>

    <section class="section--page-nopaddin-btm">
        <h2>Projects</h2>
    </section>

</div>

{% include 'projects.html' %}


</body>

</html>
{% endblock %}