<div class="project-page">
    {% for project in projects %}
    {% if project.id|divisibleby:"2" == False %}
    <section class="split card--project">
        <div class="col--left">
            <div id="img-one" class="project-img">
                {% if project.project_img1 %}
                <img src="{{ project.project_img1.url }}">
                {% else %}
                <img src="" alt="Project Image">
                {% endif %}
            </div>
            <div id="img-two" class="project-img">
                {% if project.project_img2 %}
                <img src="{{ project.project_img2.url }}">
                {% else %}
                <img src="" alt="Project Image">
                {% endif %}
            </div>
        </div>
        <div class="col--right">
            <div class="split__content--sticky">
                <div class="split__content">
                    <span>
                        <a href="{{ project.project_github_url }}" target="_blank">
                            {{ project.project_title }}
                        </a>
                    </span>
                    <p>{{ project.project_description }}</p>

                    <a href="{{ project.project_livedemo }}" target="_blank" id="livedemo"> 🔗 Live Demo</a>
                </div>
            </div>
        </div>
        {% else %}
        <section class="split card--project flex-col-reverse">
            <div class="col col--left">
                <div class="split__content--sticky">
                    <div class="split__content">
                        <span>
                            <a href="{{ project.project_github_url }}" target="_blank">
                                {{ project.project_title }}
                            </a>
                        </span>
                        <p>
                            {{ project.project_description }}
                        </p>

                        <a href="{{ project.project_livedemo }}" target="_blank" id="livedemo"> 🔗 Live Demo</a>

                    </div>
                </div>
            </div>
            <div class="col col--right">
                <div id="img-one" class="project-img">
                    {% if project.project_img1 %}
                    <img src="{{ project.project_img1.url }}">
                    {% else %}
                    <img src="" alt="Project Image">
                    {% endif %}
                </div>
                <div id="img-two" class="project-img">
                    {% if project.project_img2 %}
                    <img src="{{ project.project_img2.url }}">
                    {% else %}
                    <img src="" alt="Project Image">
                    {% endif %}
                </div>
        </section>

        {% endif %}
    </section>
    {% endfor %}

</div>