<div class="project-page">
    <section class="split card--project">
        <div class="col--left">
            <div id="img-one" class="project-img">
                <img src="./static/files/project_previews/pen_and_page/Home_PenandPage.png">
            </div>
            <div id="img-two" class="project-img">
                <img src="./static/files/project_previews/pen_and_page/Profile-Pen-and-Page.png">
            </div>
        </div>
        <div class="col--right">
            <div class="split__content--sticky">
                <div class="split__content">
                    <span><a href="https://github.com/pembattech/pen-and-page" target="_blank">Pen and
                            Page</a></span>
                    <p>A blog website with Django restframework authentication.</p>

                    <a href="https://penandpage-pemba.vercel.app/" target="_blank" id="livedemo"> 🔗 Live Demo</a>
                </div>
            </div>
        </div>
    </section>

</div>