{% extends 'base.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var projectToggles = document.querySelectorAll('.project-toggle');

    projectToggles.forEach(function (toggle) {
      toggle.addEventListener('click', function (event) {
        event.preventDefault();

        // Remove "active" class from all project toggles
        projectToggles.forEach(function (toggle) {
          toggle.classList.remove('active');
        });

        // Add "active" class to the clicked project toggle
        this.classList.add('active');

        // Toggle display of the corresponding project form
        var projectForm = this.nextElementSibling;
        projectForm.style.display = (projectForm.style.display === 'none' || projectForm.style.display === '') ? 'block' : 'none';
      });
    });

  });
</script>

<div class="gohome goto">
  <a href="{% url 'home' %}">[ Home ]</a>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-box">

    <div class="user_profile">
      <h2>User Profile</h2>
      {{ userprofile_form.as_p }}
    </div>

    <div class="tech_stack">
      <h2>Tech Stack</h2>
      {{ techstack_form.as_p }}
    </div>

    <div class="project">
      <h2>Project</h2>
      {% for project_form in project_forms %}
      <div class="project-section">
        <p class="project-toggle">{{ project_form.instance.project_title }}</p>
        <div class="project-form">
          {{ project_form.as_p }}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <button class="button-style" type="submit">Update Profile</button>
</form>

{% endblock %}