{% extends 'base.html' %}

{% block content %}

<style>
  .delete-btn {
    cursor: pointer;
    margin-left: 10px;
  }
</style>

<div class="navigate">
  <div class="goto">
    <a href="{% url 'home' %}">[ Home ]</a>
  </div>

  <div class="goto">
    <a href="{% url 'logout' %}">[ Logout ]</a>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-box">
    <div class="user_profile">
      <h2>User Profile</h2>
      {{ userprofile_form.as_p }}
    </div>

    <div class="tech_stack">
      <h2>Tech Stack</h2>
      {{ techstack_form.as_p }}
    </div>

    <div class="project">
      <div class="title-and-new" style="display: flex; align-items: center;">
        <h2 style="margin-right: 10px;">Project</h2>
        <a href="{% url 'new' %}">
          <p id="add-project-btn" style="font-size: 24px; cursor: pointer;">+</p>
        </a>
      </div>
      {% for project_form in project_forms %}
      <div class="project-section">
        <div class="title-and-deletebtn">
          <p class="project-toggle">{{ project_form.instance.project_title }}</p>
          <a href="{% url 'delete_project' project_form.instance.id %}" class="delete-btn button-style">Delete</a>
        </div>

        <div class="project-form">
          {{ project_form.as_p }}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <button class="button-style" type="submit">Update Profile</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.title-and-deletebtn').on('click', function () {
      // Remove "active" class from all project toggles
      $('.project-toggle').removeClass('active');

      // Add "active" class to the clicked project toggle within the clicked element
      $(this).find('.project-toggle').addClass('active');

      // Toggle display of the corresponding project form within the clicked element
      var projectForm = $(this).next('.project-form');
      projectForm.toggle();
    });

    // Prevent form from toggling when clicking on delete button
    $('.delete-btn').on('click', function (event) {
      event.stopPropagation();
    });
  });
</script>

{% endblock %}